module.exports = config =
    DEBUG: true
    PORT: 8000
    REDIS_CONFIG: {}
    SESSION_CONFIG: {secret: 'foo'}
    JQUERY: 'jquery-1.6.1.min.js'
    WWW_ROOT: require('path').join __dirname, '..', 'www'
    TWITTER_CONSUMER_KEY: 'qux'
    TWITTER_CONSUMER_SECRET: 'quux'
