article {
	display: block;
	margin: auto;
}
body {
	background: black url('purple.jpg') top right no-repeat;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}
h1 {
	background: url('title.png') no-repeat;
	display: inline-block;
	height: 200px;
	text-indent: -100em;
	width: 800px;
}
img {
	vertical-align: middle;
}
nav {
	background: transparent url('nav.png') top left repeat-x;
	display: block;
	height: 446px;
	margin: 0 0 -250px 0;
	padding: 0;
	width: 100%;
}
nav:before {
	content: url('swoop.png');
	display: block;
	width: 429px;
	height: 446px;
}
nav a {
	background: url('leftfoot.png') no-repeat;
	color: black;
	display: block;
	margin: 0;
	padding: 1em;
	height: 100px;
	user-select: none;
	width: 100px;
}
